# fly.toml app configuration file generated for adminer-nexion-sparkling-frog-6628 on 2025-11-17T21:03:36-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "portal-nexion"
primary_region = 'gru'

[build]
  image = 'docker.io/adminer'

[http_service]
  internal_port = 8082
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
